.eunit/*
.rebar/*
priv/*
*.o
*.beam
doc
test.*-temp-data
ebin
c_src/bin/*
c_src/include/*
c_src/lib/*
c_src/lib64/*
c_src/nanomsg-*/*
c_src/*.d
/.eqc-info
/current_counterexample.eqc
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
tags
*~
