%%-*- mode: erlang -*-
{require_min_otp_vsn, "R16B"}.
{eunit_opts, [verbose]}.
{so_name, "enm_drv.so"}.

{plugins, [pc]}.

{port_sources, ["c_src/*.c"]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -Wall -fPIC -Ic_src/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lc_src/lib64 -Lc_src/lib -lnanomsg"},
            {"linux.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lanl"}]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"},
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{provider_hooks,
 [
  {post, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
 ]
}.
