%%-*- mode: erlang -*-
{require_min_otp_vsn, "R16B"}.
{eunit_opts, [verbose]}.
{so_name, "enm_drv.so"}.

{port_sources, ["c_src/*.c"]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -Wall -fPIC -Ic_src/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lc_src/lib64 -Lc_src/lib -lnanomsg"},
            {"linux.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lanl"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
